@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&family=Roboto:wght@100;400;500;900&display=swap');

body{
    overflow-x: hidden;
    font-size: 17px;
    color: #4C4C4C;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

h1{
    color: #353535;
    font-family: 'Montserrat', sans-serif;
    font-size: 45px;
    line-height: 58px;
    text-transform: uppercase;
    font-weight: 700;
}

h2{
    color: #353535;
    font-family: 'Montserrat', sans-serif;
    font-size: 38px;
    line-height: 44px;
    font-weight: 700;
}

h1 span, h2 span{
    color: #C57982;
}

h1, h2, h3, .h1, .h2, .h3{
    font-family: 'Montserrat', sans-serif;
    text-transform: none;
}

.text-uppercase{
    text-transform: none!important;
}

#header{
	box-shadow: unset;
}

.header-content{
	text-align: center;
    position: relative;
    display: flex;
    justify-content: space-between;
    max-width: 1140px;
    margin: 0 auto;
    padding-top: 50px;
}

.header-content h1{
	position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.header-content .header-logo{
	position: absolute;
    left: 50%;
    top: 20px;
    transform: translateX(-50%);
    width: 300px;
    height: auto;
}

.header-content .header-logo img{
	width: 100%;
    height: auto;
}

#search_widget form input{
    border-radius: 0;
}

#_desktop_user_info{
    display: inline-block;
    margin-right: 20px;
    vertical-align: middle;
}

#_desktop_cart{
    display: inline-block;
    vertical-align: middle;
}

#_desktop_cart>div{
    display: inline-block;
    vertical-align: middle;
    color: white;
    background-color: #C57982;
    padding: 8px 15px;
    position: relative;
}

#_desktop_cart .inactive{
    opacity: 0.4;
}

#_desktop_cart .material-icons{
    width: 17px;
    height: 17px;
    font-size: 17px;
    margin-right: 2px;
}

#_desktop_cart .cart-products-count{
    position: absolute;
    background-color: #C57982;
    color: white;
    border-radius: 50px;
    border: 2px solid white;
    top: -14px;
    left: 125px;
    padding: 6px 9px;
    font-size: 14px;
    line-height: 14px;
    text-align: center;
}

.header_menu{
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

#header .header_menu a{
    margin: 0 20px;
}

#header a:hover{
    text-decoration: none;
    color: #C57982;
}

.top-menu a[data-depth="0"]{
    font-size: 17px;
    padding: 10px;
    font-weight: 400;
    text-transform: uppercase;
}

#header .top-menu a[data-depth="0"]:hover{
    text-decoration: none;
    color: #C57982;
}

.user-info .material-icons{
    display: none;
}

#wrapper{
	margin-top: 0;
	background-color: white;
    padding-top: 10px;
}

#index .container{
    width: 100%;
    padding: 0;
}

.row{
    margin: 0;
}

.carousel{
    margin-bottom: 100px;
}

.carousel .carousel-inner{
    height: 600px;
    max-height: calc( 100vh - 100px );
    min-height: 350px;
    margin: 0;
}

.carousel .carousel-item figure{
    height: 100%;
    width: 100%;
}

.carousel .carousel-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.carousel .carousel-item .caption{
    position: absolute;
    width: 1140px;
    left: 50%;
    top: 50%;
    right: unset;
    bottom: unset;
    transform: translate(-50%, -50%);
    text-align: left;
    max-width: unset;
}

.carousel .carousel-item .caption{
    position: absolute;
    width: 1140px;
    left: 50%;
    top: 50%;
    right: unset;
    bottom: unset;
    transform: translate(-50%, -50%);
    text-align: left;
    max-width: unset;
    padding-bottom: 50px;
}

.carousel .carousel-item .caption .display-1{
    font-size: 50px;
    width: 100%;
    max-width: 700px;
    line-height: 65px;
    font-weight: 700;
    margin-bottom: 20px;
    color: white;
}

.carousel .carousel-item .caption .caption-description{
    font-size: 18px;
    max-width:650px;
}

.carousel .carousel-item .caption:after{
    content:"Découvrir";
    cursor: pointer;
    background-color: white;
    padding: 8px 30px;
    position: absolute;
    left: 0;
    bottom: 0;
    color: #4C4C4C;
    transition: all 0.4s;
}

.carousel .carousel-control .icon-next:hover i, .carousel .carousel-control .icon-prev:hover i {
    color: #C57982;
}

.featured-products .products-section-title{
    color: #353535;
    font-family: 'Montserrat', sans-serif;
    font-size: 38px;
    line-height: 44px;
    font-weight: 700;
}

.products article .wishlist-button-add, .product-miniature .highlighted-informations{
    display: none;
}

.featured-products{
    text-align: center;
}

#products .products, .featured-products .products, .product-accessories .products{
    justify-content: center;
}

.js-product{
    box-sizing: content-box;
    width: 300px;
}

.product-miniature .thumbnail-container{
    width: 100%;
    margin: 0;
}

.product-miniature .product-description{
    position: relative;
    padding-bottom: 50px;
}

.product-miniature .thumbnail-container .product-thumbnail{
    width: 100%;
    height: 380px;
}

.product-miniature .thumbnail-container .product-thumbnail img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all 0.6s;
}

.product-miniature:hover .thumbnail-container .product-thumbnail img{
    transform: scale(1.2);
}

.product-miniature .product-title a{
    color: #353535;
    font-size: 17px;
}

.product-miniature .product-price-and-shipping{
    font-size: 17px;
    color: #C57982;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
    opacity: 0;
    transition: all 0.6s;
}

.product-miniature:hover .product-price-and-shipping{
    bottom: 25px;
    opacity: 1;
}

.product-miniature .product-flags li.product-flag{
    min-width: unset;
    max-width: unset;
    width: 120px;
    height: 43px;
    box-sizing: border-box;
    padding: 10px;
    top: 0;
    margin: 0;
    left: 0;
    text-align: center;
    min-height: 0;
    background-color: #C57982;
    pointer-events:none;
}

#products .all-product-link, .featured-products .all-product-link, .product-accessories .all-product-link{
    cursor: pointer;
    background-color: #c57982;
    padding: 8px 30px;
    transition: all 0.4s ease 0s;
    margin: 0 auto 100px;
    color: white;
    font-weight: 400;
    float: unset!important;
    display: inline-block;
}

.featured-products .all-product-link .material-icons{
display: none;
}

.extras{
    text-align: center;
    margin-bottom: 100px;
}

.extras h2{
    position: absolute;
    font-size: 0;
    color: transparent;
    left: -9999px;
}

.extras ul li{
    display: inline-block;
    width: 22%;
    max-width: 250px;
    margin: 0 1%;
    padding: 120px 10px 20px;
    box-sizing: border-box;
    border:2px solid #C69399;
    text-align: center;
    background-position: center 20px;
    background-size: 100px;
    background-repeat: no-repeat;
}

.extras ul li:nth-of-type(1){
    background-image: url("../img/returns.svg");
}

.extras ul li:nth-of-type(2){
    background-image: url("../img/delivery.svg");
}

.extras ul li:nth-of-type(3){
    background-image: url("../img/drive-in.svg");
}

.extras ul li:nth-of-type(4){
    background-image: url("../img/secure.svg");
}


.extras ul li h3{
    color: #C69399;
    font-weight: 400;
    font-size: 18px;
}

.extras ul li h3 span.h3_title{
    font-size: 22px;
    display: block;
    margin-bottom: 5px;
    text-transform: uppercase;
    font-weight: 600;
    color: #4C4C4C;
}

.page-home .intro {
    display: grid;
    grid-template-columns: 5fr 4fr;
    grid-column-gap: 9.45%;
    width: 83%;
    margin: 5em auto 0;
    overflow-x: hidden;
}
.page-home .intro_images {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-column-gap: 2.5%;
}
.page-home .intro_images .intro_first-image {
    grid-column: 1/5;
    grid-row: 1/2;
    height: 300px;
    z-index: 4;
    overflow: hidden;
}
.page-home .intro_images .intro_first-image img {
    min-height: 100%;
    min-width: 100%;
    height: auto;
}
.page-home .intro_images .intro_back-image {
    grid-column: 3/6;
    grid-row: 1/2;
    height: 450px;
    background-color: #CAB3B5;
    margin-top: 165px;
    position: relative;
    top: -16px;
    left: -16px;
    z-index: 5;
}
.page-home .intro_images .intro_second-image {
    grid-column: 3/6;
    grid-row: 1/2;
    height: 450px;
    z-index: 6;
    overflow: hidden;
    margin-top: 165px;
}
.page-home .intro_images .intro_second-image img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.page-home .intro__content {
}

.page-home .intro__content h2 {
    text-transform: uppercase;
    text-align: left;
    margin-bottom: 50px;
}
.page-home .intro__content div p {
    margin-bottom: 15px;
    text-align: left;
}
.page-home .intro__content .cta {
    margin-top: 35px;
    display: inline-block;
}