@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&family=Roboto:wght@100;400;500;900&display=swap');

body{
    overflow-x: hidden;
    font-size: 17px;
    color: #4C4C4C;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

h1{
    color: #353535;
    font-family: 'Montserrat', sans-serif;
    font-size: 45px;
    line-height: 58px;
    text-transform: uppercase;
    font-weight: 700;
}

h2{
    color: #353535;
    font-family: 'Montserrat', sans-serif;
    font-size: 38px;
    line-height: 44px;
    font-weight: 700;
}

h1 span, h2 span{
    color: #C57982;
}

h1, h2, h3, .h1, .h2, .h3{
    font-family: 'Montserrat', sans-serif;
    text-transform: none;
}

.text-uppercase{
    text-transform: none!important;
}

#header{
	box-shadow: unset;
}

.header-content{
	text-align: center;
    position: relative;
    display: flex;
    justify-content: space-between;
    max-width: 1140px;
    margin: 0 auto;
    padding-top: 50px;
}

.header-content h1{
	position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.header-content .header-logo{
	position: absolute;
    left: 50%;
    top: 20px;
    transform: translateX(-50%);
    width: 300px;
    height: auto;
}

.header-content .header-logo img{
	width: 100%;
    height: auto;
}

#search_widget form input{
    border-radius: 0;
}

#_desktop_user_info{
    display: inline-block;
    margin-right: 20px;
    vertical-align: middle;
}

#_desktop_cart{
    display: inline-block;
    vertical-align: middle;
}

#_desktop_cart>div{
    display: inline-block;
    vertical-align: middle;
    color: white;
    background-color: #C57982;
    padding: 8px 15px;
    position: relative;
}

#_desktop_cart .inactive{
    opacity: 0.4;
}

#_desktop_cart .material-icons{
    width: 17px;
    height: 17px;
    font-size: 17px;
    margin-right: 2px;
}

#_desktop_cart .cart-products-count{
    position: absolute;
    background-color: #C57982;
    color: white;
    border-radius: 50px;
    border: 2px solid white;
    top: -14px;
    left: 125px;
    padding: 6px 9px;
    font-size: 14px;
    line-height: 14px;
    text-align: center;
}

.header_menu{
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

#header .header_menu a{
    margin: 0 20px;
}

#header a:hover{
    text-decoration: none;
    color: #C57982;
}

.top-menu a[data-depth="0"]{
    font-size: 17px;
    padding: 10px;
    font-weight: 400;
    text-transform: uppercase;
}

#header .top-menu a[data-depth="0"]:hover{
    text-decoration: none;
    color: #C57982;
}

.user-info .material-icons{
    display: none;
}

#wrapper{
	margin-top: 0;
	background-color: white;
    padding-top: 10px;
}

#index .container{
    width: 100%;
    padding: 0;
}

.row{
    margin: 0;
}

.carousel{
    margin-bottom: 100px;
}

.carousel .carousel-inner{
    height: 600px;
    max-height: calc( 100vh - 100px );
    min-height: 350px;
    margin: 0;
}

.carousel .carousel-item figure{
    height: 100%;
    width: 100%;
}

.carousel .carousel-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.carousel .carousel-item .caption{
    position: absolute;
    width: 1140px;
    left: 50%;
    top: 50%;
    right: unset;
    bottom: unset;
    transform: translate(-50%, -50%);
    text-align: left;
    max-width: unset;
}

.carousel .carousel-item .caption{
    position: absolute;
    width: 1140px;
    left: 50%;
    top: 50%;
    right: unset;
    bottom: unset;
    transform: translate(-50%, -50%);
    text-align: left;
    max-width: unset;
    padding-bottom: 50px;
}

.carousel .carousel-item .caption .display-1{
    font-size: 50px;
    width: 100%;
    max-width: 700px;
    line-height: 65px;
    font-weight: 700;
    margin-bottom: 20px;
    color: white;
}

.carousel .carousel-item .caption .caption-description{
    font-size: 18px;
    max-width:650px;
}

.carousel .carousel-item .caption:after{
    content:"Découvrir";
    cursor: pointer;
    background-color: white;
    padding: 8px 30px;
    position: absolute;
    left: 0;
    bottom: 0;
    color: #4C4C4C;
    transition: all 0.4s;
}

.carousel .carousel-control .icon-next:hover i, .carousel .carousel-control .icon-prev:hover i {
    color: #C57982;
}

.featured-products .products-section-title{
    color: #353535;
    font-family: 'Montserrat', sans-serif;
    font-size: 38px;
    line-height: 44px;
    font-weight: 700;
}

.products article .wishlist-button-add, .product-miniature .highlighted-informations{
    display: none;
}

#products .products, .featured-products .products, .product-accessories .products{
    justify-content: center;
}

.js-product{
    box-sizing: content-box;
    width: 300px;
}

.product-miniature .thumbnail-container{
    width: 100%;
    margin: 0;
}

.product-miniature .product-description{
    position: relative;
    padding-bottom: 50px;
}

.product-miniature .thumbnail-container .product-thumbnail{
    width: 100%;
    height: 380px;
}

.product-miniature .thumbnail-container .product-thumbnail img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all 0.6s;
}

.product-miniature:hover .thumbnail-container .product-thumbnail img{
    transform: scale(1.2);
}

.product-miniature .product-title a{
    color: #353535;
    font-size: 17px;
}

.product-miniature .product-price-and-shipping{
    font-size: 17px;
    color: #C57982;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
    opacity: 0;
    transition: all 0.6s;
}

.product-miniature:hover .product-price-and-shipping{
    bottom: 25px;
    opacity: 1;
}

.product-miniature .product-flags li.product-flag{
    min-width: unset;
    max-width: unset;
    width: 120px;
    height: 43px;
    box-sizing: border-box;
    padding: 10px;
    top: 0;
    margin: 0;
    left: 0;
    text-align: center;
    min-height: 0;
    background-color: #C57982;
    pointer-events:none;
}